/* || Page Specific Colors */

.bg-light {
	background-color: $white;
}
.bg-dark {
	background-color: $dark;
}

/* Homepage */

.home-bg-1 {
	background-color: $home1;
}
.home-bg-2 {
	background-color: $home2;
}
.home-bg-3 {
	background-color: $home3;
}
.home-bg-4 {
	background-color: $home4;
}

.text-white {
	color: $white;
}
.text-dark {
	color: $dark;
}

/* About */

.about-bg {
	background-color: $about1;
}
.about-color-1 {
	color: $about2;
}

/* Chess.com */

.chess-bg-1 {
	background-color: $chess1;
}
.chess-bg-2 {
	background-color: $chess2;
}
.chess-bg-3 {
	background-color: $chess3;
}
.chess-bg-4 {
	background-color: $chess4;
}
.chess-bg-5 {
	background-color: $chess5;
}
.chess-bg-6 {
	background-color: $chess6;
}
.chess-color-1 {
	color: $chess6;
}
.chess-color-2 {
	color: $chess6;
	opacity: 50%;
}

/* EatStreet */

.eatstreet-bg-1 {
	background-color: $eatstreet1;
}
.eatstreet-bg-2 {
	background-color: $eatstreet2;
}
.eatstreet-bg-3 {
	background-color: $eatstreet3;
}
.eatstreet-bg-4 {
	background-color: $eatstreet4;
}
.eatstreet-bg-5 {
	background-color: $eatstreet5;
}
.eatstreet-bg-6 {
	background-color: $eatstreet6;
}
.eatstreet-color-1 {
	color: $eatstreet1;
}
.eatstreet-color-2 {
	color: $eatstreet5;
}

/* Illustration */

.hotel-bg-1 {
	background-color: $hotel1;
}
.hotel-bg-2 {
	background-color: $hotel2;
}
.hotel-bg-3 {
	background-color: $hotel3;
}
.hotel-bg-4 {
	background-color: $hotel4;
}
.hotel-color-1 {
	color: $hotel5;
}
.hotel-color-2 {
	color: $hotel6;
}

/* Mad Hops */

.mad-hops-bg-1 {
	background-color: $madhops1;
}
.mad-hops-bg-2 {
	background-color: $madhops2;
}
.mad-hops-bg-3 {
	background-color: $madhops3;
}
.mad-hops-bg-4 {
	background-color: $madhops4;
}
.mad-hops-bg-5 {
	background-color: $madhops5;
}
.mad-hops-bg-6 {
	background-color: $madhops6;
}

/* McLoons */

.mcloons-bg-1 {
	background-color: $mcloons1;
}
.mcloons-bg-2 {
	background-color: $mcloons2;
}
.mcloons-bg-3 {
	background-color: $mcloons3;
}
.mcloons-bg-4 {
	background-color: $mcloons4;
}
.mcloons-bg-5 {
	background-color: $mcloons5;
}
.mcloons-bg-6 {
	background-color: $mcloons6;
}

/* Number Two */

.number-two-bg-1 {
	background-color: $numbertwo1;
}
.number-two-bg-2 {
	background-color: $numbertwo2;
}
.number-two-bg-3 {
	background-color: $numbertwo3;
}
.number-two-bg-4 {
	background-color: $numbertwo4;
}
.number-two-bg-5 {
	background-color: $numbertwo5;
}
.number-two-bg-6 {
	background-color: $numbertwo6;
}

/* Illustration */

.illustration-bg-1 {
	background-color: $illustration1;
}
.illustration-bg-2 {
	background-color: $illustration2;
}
.illustration-bg-3 {
	background-color: $illustration3;
}
.illustration-bg-4 {
	background-color: $illustration4;
}

/* Animation */

.animation-bg-1 {
	background-color: $animation1;
}
.animation-bg-2 {
	background-color: $animation2;
}
.animation-bg-3 {
	background-color: $animation3;
}
.animation-bg-4 {
	background-color: $animation4;
}