.sidebar {
	/*align-self: start;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 4rem;
}

.social-icon img {
	width: 1.4rem;
	display: inherit;
	margin-top: 1.25rem;
	transition: opacity 250ms;
}

.sidebar-divider {
	border: 0;
	width: 1px;
	height: 4rem;
	margin: 0;
}

.sidebar-title {
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	font-size: .9rem;
	letter-spacing: .05rem;
	margin-bottom: 1.25rem;
}