/* Fonts */
$serif: 'ClashDisplay-Variable', serif;
$sans-serif: 'Supreme-Variable', 'Avenir', 'Helvetica', sans-serif;

/* Colors */

$white: #FFFFFF;
$dark: #242424;
$light: #F2F2F2;

$home1: #F2F2F2;
$home2: #242424;
$home3: #EDEDED;
$home4: #FFFFFF;

$link: #F7583E;
$link-dark: #cc3018;

$about1: #242424;
$about2: #FFFFFF;

$chess1: #262421;
$chess2: #81B64C;
$chess3: #191817;
$chess4: #1F1E1C;
$chess5: #312E2B;
$chess6: #F8F8F8;

$eatstreet1: #003D31;
$eatstreet2: #fb8f3c;
$eatstreet3: #00543E;
$eatstreet4: #002523;
$eatstreet5: #6BAD42;
$eatstreet6: #F0F2F4;

$hotel1: #F3DED9;
$hotel2: #E5B1DB;
$hotel3: #EF9862;
$hotel4: #DE7859;
$hotel5: #013729;
$hotel6: #677201;

$madhops1: #062028;
$madhops2: #009158;
$madhops3: #003C3A;
$madhops4: #00E676;
$madhops5: #005652;
$madhops6: #EDEDEF;

$mcloons1: #03183A;
$mcloons2: #CAD0D8;
$mcloons3: #0B265B;
$mcloons4: #FF5A5A;
$mcloons5: #236CEF;
$mcloons6: #F2F2F4;

$numbertwo1: #000000;
$numbertwo2: #ff2e56;
$numbertwo3: #ec7622;
$numbertwo4: #F19618;
$numbertwo5: #ef9014;
$numbertwo6: #efe8e9;

$illustration1: #F2F2F2;
$illustration2: #fec200;
$illustration3: #e1e1e1;
$illustration4: #cdcdcd;

$animation1: #25242B;
$animation2: #fec200;
$animation3: #48474e;
$animation4: #19181f;


/* Timing */
$default-timing: 500ms ease-in-out;

/* Margins & Padding */
$default-spacing: 2rem;